.topNav {   
  overflow: hidden;
  background-color: teal;
  
  
}

.topNav h5{   
  float:right;
  padding-right: 60px;
  margin-top: -30px;
  
}

.li_link_profile {
  float:left;
  padding: 19px 20px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  font-family: Arial;
  color:teal;
  
}

.ul_header_profile {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

.sidenav {
    
    height: 400px;
    position: fixed;
    z-index: 1;
    top: 80px;
    left: 2px;
    background: #eee;
    width: 200px;
}

.sidenav ul{
    list-style-type: none;
    position: relative;
    left: -40px;
    top: -16px;
}
.li_link_SideBar {    
    background: #ddd;
    font-size: 17px;
    border-bottom: 1px solid teal;
    cursor: pointer;
    font-family: Arial;
    color: teal;
    padding: 10px 0;
    width: 200px;
    padding-left: auto 0;
}

.link_Dec{
  color:teal;
  text-decoration: none;
  
}
.link_Dec:hover{
  color:white;
  background-color: teal;
  
}
.openbtn {
  font-size: 30px;
  cursor: pointer;
  background-color: teal;
  color: white;
  padding: 18px 30px;
  border: none;
  float:left
}

.li_link_SideBar:hover {
  background-color: teal;
  color: #FFF;
}
.li_link_SideBar:last-child {
  border-bottom: none 0;
}